.container{
	max-width: 800px;
  margin: 0 auto;
  margin-bottom: 1em;
}

.heading h2{
	font-weight: 200;
}

.treatment_plans{
	display: inline-block;
}

.treatment_plans {
  position: relative;
  z-index: 9;
}

.treatment_plans_choices {
  margin-left: -20px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 20px;
}

.treatment_plans_choices li {
  float: left;
  width: 33%;
  margin-bottom: 20px;
  padding-left: 20px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
  height: 20em;
}

.treatment_plans_choices a {
  text-decoration: none;
  border-radius: 2px;
  color: #3F4652;
  display: block;
  background-color: #fff;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 3px solid #ebeced;
  width: 100%;
  backface-visibility: hidden;
  position: relative;
  background-size: 100px;
}

.treatment_plans_choices a:hover {
	 border: 3px solid #C0C0C0;
}

.treatment_plans_choices h3 {
  font-size: 25px;
  line-height: 28px;
  margin: 0 0 10px 0;
  display: inline-block;
}

.treatment_plans_choices p {
  font-size: 12px;
  line-height: 16px;
  color: black;
  margin: 0;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: #00C4CC;
	text-decoration: none;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.treatment_plans ul li a {
    text-decoration: none;
}

.plan_heading{
	padding: 20px 20px 5px 20px;
	background-color: #04ACF0;
}

.plan_range{
	padding: 10px 20px 5px 20px;
	background-color: #F5F5F5;
	min-height: 3em;
}

.plan_unit{
	padding: 10px 10px 100px 20px;
}

.plan_heading span{
	font-weight: 400;
	color: white;
}

#inline_block{
	display: inline-block;
	font-weight: 600;
}

.plan_range span,
.plan_unit span{
	 color: #909095;
	 font-size: 8pt;
}

.glyphicon-trash{
	float: right;
}

.individual_treatment_plan .plan_unit .glyphicon-plus{
	font-size: 30pt;
	padding-top: 1.3em;
}

      
/* Treatment Plan styles */
.treatment_plan_details {
  background-color: #F5F5F5;
  padding: 15px 0;
  margin-bottom: 2em;
}      

.treatment_plan_details div {
    height: 8em;
    border-right: 1px solid #909095;
}

.treatment_plan_details p {
    font-size: 8pt;
    color: #909095;
}

.font_weight_500{
  font-weight: 500;
  margin-bottom: 0;
}

.treatment_plan_plan span{
  font-weight: 600;
  color: black;
}

.treatment_plan_bg_range h3{
  display: inline-block;
}

.treatment_plan_bg_range span{
  font-size: 8pt;
  color: #909095;
}

.container a{
  font-size: 8pt;
}

.starting_dose_details h4{
  font-weight: 300;
  margin-bottom: 2em;
}

.contact_input input{
  width: 2em;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select#insulin_type,
    select#starting_dose {
        height:30px;
        line-height:30px;
        background:#f4f4f4;
    } 
}
select#insulin_type,
select#starting_dose::-moz-focus-inner { /*Remove button padding in FF*/ 
    border: 0;
    padding: 0;
}
        
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */        
    select#insulin_type,
    select#starting_dose {
        height:30px;
        line-height:30px;
    }     
}

select#insulin_type{
  width: 12em;
}

select#starting_dose {
  width: 24em;
}  

#treatment_first_name{
  width: 8em;
  height: 5em;
  background: #f4f4f4;
  border: 0;
  padding: 2px;
  margin-right: 5px;
}

.starting_dose_details span{
  vertical-align: bottom;
}

.underline{
  border-bottom: 1px solid #909095;
  margin: 2em 0;
}

.starting_dose_details input[type="text"], textarea {
    background: #f4f4f4;
    border: 0;
    padding-left: 6px;
}